source https://www.nuget.org/api/v2
storage: none
clitool dotnet-mono
clitool Microsoft.DotNet.Watcher.Tools 1.0.0
nuget Argu 3.7
nuget FSharp.Core 4.3.3
nuget Expecto 5.1.2
nuget SourceLink.Create.CommandLine 2.7.2 copy_local: true

group build
  generate_load_scripts: true
  framework: net462
  source https://www.nuget.org/api/v2
  nuget FAKE
  nuget Fantomas
  nuget FSharp.Compiler.Service 11.0.4
